{% extends 'base.html' %}

{% block title %}
    Random Messages
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Random Messages</h1>
        <ul>
            {% for message in messages %}
                <li>
                    <div class="message">
                        <p>{{ message[0] }}</p> <!-- Display name -->
                        <p>{{ message[1] }}</p> <!-- Display message -->
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='view_style.css') }}">
{% endblock %}
